/* CSS pielāgojums poga un ievades laukiem */
.custom-input:focus,
.custom-input:active,
.custgitom-input:focus,
.custgitom-input:active {
    background-color: #f8f9fa; /* Pelēka iekrāsošana aktīvā stāvoklī */
}

.btn-primary {
    background-color: #dc3545; /* Sarkana poga */
    border-color: #dc3545; /* Sarkana poga */
}

.btn-primary:hover {
    background-color: #c82333; /* Sarkana poga ar hover stāvokli */
    border-color: #bd2130; /* Sarkana poga ar hover stāvokli */
}
.custom-input {
    width: 100%;
  }
  
  .list-group-item {
    margin-bottom: 10px;
  }
  .card-img-top {
    max-width: 100px; /* Iestatīt maksimālo platumu */
    max-height: 100px; /* Iestatīt maksimālo augstumu */
    object-fit: cover; /* Lai saglabātu attēla proporcijas un pārklātu visas zonas */
  }
  